.column{
	display: flex;
	flex-direction: column;
	align-items: center;

}
.stars{
	display:flex;
	flex-direction: row;
}
.star{
	width: 20px;
	display:inline-block;

}
.comida{
	width: 300px;
	border-radius: 30px;
}	
.check{
	border-radius: 100px;
	background-color: #4682B4;
	
}
.image{
	width:50px;
}
button{
	width:300px;
	background-color: #4682B4;
}